.menu-card {
    width: 32%;
    /*width: 400px;*/
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 7px;
    border: 2px solid #ECECEE;
    font-size: 20px;
    font-weight: 500;
    padding: 13px;
    cursor: pointer;
}