.main-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 30px;
}

.kepco-img {
    max-width: 10%;
    /*margin-bottom: 20px;*/
}

.vpp-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-bottom: 20px;*/
}

.vpp-container a {
    width: 15%;
    overflow: hidden;
}

.vpp-container a:hover {
    border: 2px solid darkgray;
    border-radius: 10px;
}

.vpp-img {
    width: 100%;
    display: block;
}

.house-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.house {
    width: 28%;
    text-align: center;
    font-size: 20px;
}

.house-click {
    cursor: pointer;
}

.house-click:hover {
    border-radius: 10px;
    border: 2px solid darkgray;
}

.arrow1, .arrow2, .arrow3 {
    margin-bottom: 30px;
}

.arrow1 {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.arrow3 {
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

.houseimg {
    width: 100%;
}


